@tailwind base;
@tailwind components;
@tailwind utilities;

.app-header {
  backdrop-filter: blur(12px);
  background-color: hsla(0, 0%, 100%, 0.75);
}

.dark .app-header {
  background-color: rgba(17, 24, 39, 0.75);
}
